<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .page-wrap {
            background-color: black;
            color: green;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            border: "20px solid blue";
            }

            .button {
            border-radius: 10%;
            background-color: green;
            color: black;
            text-decoration: none;
            width: 250px;
            padding: 10px;
            margin: 10px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            .table {
            margin-left: auto;
            margin-right: auto;
            padding: 12px;
            border: 2px solid green;
            }

        .edit {
            width: 400px;
        }

        </style>
    </head>
    <body class="page-wrap">
        <h2>Edit Project</h2>
            <% //debugger; %>
        <form action="/edit/<%= response._id %>" method="POST">
            <table class="table">
                <tr>
                    <td id="title">
                        <label for="title">Title</label>
                        <input id="title" class="edit" type="text" value="<%= response.title %>" name="title">
                    </td>
                </tr>
                <tr>
                    <td id="description">
                        <label for="description">Description</label>
                        <input id="description" class="edit" type="text" value="<%= response.description %>" name="description">
                    </td>
                </tr>
                <tr>
                    <td id="deadline">
                        <label for="deadline">Deadline</label>
                        <input id="deadline" class="edit" type="date" value="<%= response.deadline %>" name="deadline">
                    </td>
                </tr>
                <tr>
                    <td id="completed">
                        <label for="completed">Completed</label>
                        <input id="completed" class="edit" type="text" value="<%= response.completed %>" name="completed">
                    </td>
                </tr>
            </table>
            <p>
                <button class="button"><a href="/viewProjects" class="button">All Projects (No changes saved)</a></button>
                <button class="button"><a href="editTasks" class="button">Edit Tasks (No Changes Saved)</a></button>
                <button class="button" type="submit">Edit (Save Changes)</button>
            </p>
        </form>
    </body>
</html>