<!-- based off GU CPSC 332 Example Output Table -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>View Project</title>
    <link rel="icon" href="favicon.png">

    <style>
        table,
        th {
            border: 1px solid black;

        }

        td {
            border: 1px dotted black;
        }
    </style>

</head>

<body>
    <h1>Project Saved!</h1>
    <table>
        <caption>View all here:</caption>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Deadline</th>
        </tr>
        <% formResults.forEach(function(response) { //debugger; %>
        <tr>
            <td id="fname">
                <%= response.first %>
            </td>
            <td id="lname">
                <%= response.last %>
            </td>
            <td id="check1">
                <%= response.deadline %>
            </td>
            <td>
                <!-- Added for our UPDATE and DELETE parts of CRUD -->
                <a href="/edit/<%= response._id %>">Edit</a> |
                <!-- <a href="/edit/<%= response._id %>">Edit</a> | -->
                <a href="/delete/<%= response._id %>">Delete</a>
            </td>
        </tr>
        <% }); %>
    </table>
    <div class="navigation">
        <button><a href="/form">View Project</a></button>
        <button><a href="/logout">Log Out</a></button>
    </div>
</body>

</html>