<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <style>
        .page-wrap {
            background-color: black;
            color: green;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            border: "20px solid blue";
        }

        .table {
            margin-left: auto;
            margin-right: auto;
            padding: 12px;
            border: 2px solid green;
        }

        .button {
            border-radius: 10%;
            background-color: green;
            color: black;
            text-decoration: none;
            width: 200px;
            padding: 10px;
            margin: 10px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        fieldset {
                border: 2px solid green;
        }
    </style>
    <body class="page-wrap">
        <h1>Project created successfully</h1>
        <table class="table">
            <caption>View all projects here...</caption>
            <tr>
                <th>title</th>
                <th>description</th>
                <th>deadline</th>
                <th>completed</th>
                <th>tasks</th>
            </tr>
            <% projectResults.forEach(function(response) { //debugger; %>
                <% console.log(response) %>
            <tr>
                <td id="title" class="table">
                    <%= response.title %>
                </td>
                <td id="description"class="table">
                    <%= response.description %>
                </td>
                <td id="deadline" class="table">
                    <%= response.deadline %>
                </td>
                <td id="completed" class="table">
                    <%= response.completed %>
                </td>
                <td id="tasks" class="table">
                    <%= response.numtasks %>
                    <% if (response.numtasks > 0) { %> 
                    <a href="/viewTasks/<%= response._id %>" class="button">View Tasks</a>
                    <% } %>
                </td>
                <td class="table">
                    <a href="/edit/<%= response._id %>" class="button">Edit</a>
                    <a href="/delete/<%= response._id %>" class="button">Delete</a>
                </td>
            </tr>
            <% }); %>
        </table>
        <div class="page-wrap">
            <button class="button"><a class="button" href="/newProject">Create a new project</a></button>
            <button class="button"><a class="button" href="/logout">Log Out</a></button>
        </div>
    </body>
</html>